.app {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

header > div {
  width: 50%;
}

h2 {
  margin: 0;
  font-size: 3em;
  font-weight: 100;
}

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.map-view {
  width: 100%;
  height: calc(100vh - 225px);
  margin: 0 auto;
}

button {
  width: 49%;
  color: grey;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: white;
  border: rgba(0, 0, 0, 0.3) solid 1px;
  border-radius: 3px;
  margin: 5px 0;
}

.checked,
button:hover {
  color: white;
  background-color: grey;
  border: none;
  box-shadow: none;
}
