
.map-view {
  width: 100%;
  height: calc(100vh - 100px);
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: center;
}

button {
  width: 150px;
  color: grey;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: white;
  border: grey solid 2px;
  border-radius: 3px;
  padding: 15px 0px 20px 0px;
  margin: 20px;
}

.checked,
button:hover {
  color: white;
  background-color: grey;
  border: none;
  box-shadow: none;
}
