
.map-view {
  width: 100%;
  height: calc(100vh - 100px);
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: space-between;
}

button {
  width: 20%;
  color: white;
  font-size: 16px;
  background-color: black;
  padding: 20px 25px;
  border: none;
  margin: 0px 1px;
}
